#body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: green;
}

.main-header-navbar {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header .main-header-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-header .main-header-item {
    margin: 0 1rem;
    padding: 0;
}

.main-header .main-header-item a {
    text-decoration: none;
    color: black;
}

.main-header .main-header-item a:hover,
.main-header .main-header-item a:active,
.main-header .main-header-item a.active {
    cursor: pointer;
    color: purple;
}
